<h1>Welcome to the CustomerDB Application</h1>
<div>
  <p>Available Services</p>
  <ul>
    <li>
      <a href="http://192.168.99.100/msportal/home/">Portal Home</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/products/">Product List</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/cart/">View Cart</a>
    </li>
  </ul>
</div>